<div class="nyap-partial shadow">
  <div id="map1" style="height:300px"></div>
  <div class="nyap-details d-flex flex-column justify-content-between">
    <p><span class="fw-bolder">Categoria</span><br />Obstacles</p>
    <p><span class="fw-bolder">Descripció</span><br />Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Consectetur quia natus illo quisquam magni,
      aspernatur pariatur cum perspiciatis? Cupiditate nihil hic unde incidunt
      quam ipsum saepe odio quo ipsam excepturi.</p>
    <p><span class="fw-bolder">Creació:</span>
      2022-07-06T06:55:00.562+00:00</p>
    <p><span class="fw-bolder">Email col·laborador:</span>
      <a href="mailto:initial@seed.com">initial@seed.com</a></p>
    <div class="icons d-flex align-items-center">
      <span class="fw-bolder">Foto:</span>
      <i class="fa-solid fa-image fs-2"></i>
    </div>
  </div>
  <div class="d-flex justify-content-end align-items-center">
    <div class="nyap-actions">
      <i class="fa-solid fa-toggle-off"></i>
      <i class="fa-solid fa-pen-to-square"></i>
      <i class="fa-solid fa-trash-can"></i>
    </div>
  </div>
</div>