<div id="container mx-auto">
    <h1>cloud</h1>
    <div class="row">
        <div class="col-md-6">
            <form action="/image/post" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <div class="mb-3">
                        <!-- <input class="form-control" type="file" id="formFile" name="nyap-image"> -->
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Create</button>
                <br><br>
                <button type="button" class="btn btn-dark" onclick="imageUpload()">Image upload</button>

                <br><br>
                <button type="button" class="btn btn-success" onclick="imageUploadForm()">Upload from form</button>

            </form>
        </div>
    </div>
</div>



<script>
    async function imageUpload() {
        let Q3 = await Swal.fire({
            title: 'Select image',
            input: 'file',
            inputAttributes: {
                'accept': 'image/*',
                'aria-label': 'Upload your profile picture'
            },
            customClass: {
                input: 'form-control'
            }
        })
        const image = Q3.value


        //printImage2(image)

        let newNyap = {
            category: 'width',
            description: 'El carril bidireccional més estret del món',
            latitude: 41.37966,
            longitude: 2.16756,
            inMap: true,
            authorEmail: 'initial@seed.com'
        }


        const formData = new FormData()
        formData.append('file', image)

        const options = {
            method: 'POST',
            body: formData
        };

        fetch('/image/post', options)
            .then(res => {
                newNyap.image = res.statusText
                fetch(`${BASE_URL}/nyaps`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(newNyap),
                })
            })



    }

    function imageUploadForm() {
        $('#i_file').change(function (event) {
            var tmppath = URL.createObjectURL(event.target.files[0]);
            $("img").fadeIn("fast").attr('src', URL.createObjectURL(event.target.files[0]));

            $("#disp_tmp_path").html("Temporary Path(Copy it and try pasting it in browser address bar) --> <strong>[" + tmppath + "]</strong>");
        });
    }

    function printImage(file) {
        const reader = new FileReader()
        reader.onload = (e) => {
            Swal.fire({
                title: 'Your uploaded picture',
                imageUrl: e.target.result,
            })
        }
        reader.readAsDataURL(file)
    }

    function printImage2(file) {
        /*
        const href = URL.createObjectURL(file);
        const img = new Image();
        img.src = href;
        document.body.appendChild(img);
        */
        const href = URL.createObjectURL(file);
        Swal.fire({
            title: 'Your uploaded picture',
            imageUrl: href,
        })
    }


</script>