<img
  src="https://i0.wp.com/katzenworld.co.uk/wp-content/uploads/2019/06/funny-cat.jpeg?fit=1920%2C1920&ssl=1"
  alt="Funny cat"
  style="width:500px"
/>
<br />
<br />
<a href="/">Go back to the homepage</a>