/* {
  outline: solid 1px green;
}*/

#map {
  height: 100%;
  width: 100%;
  background-color: white;
}

.position-absolute {
  position: absolute;
}

/* unvisited link */
.link:link, #header a:link, #footer a:link {
  color: rgb(120, 120, 120);
}

/* visited link */
.link:visited, #header a:visited, #footer a:visited {
  color: rgb(120, 120, 120);
}

/* mouse over link */
.link:hover, #header a:hover, #footer a:hover {
  color: rgba(10, 10, 10, 0.9);
}

#header {
  display: none;
}

#footer {
  display: none;
}

.login {
  height: 73%;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

#login-form {
  width: 25%;
  min-width: 300px;
  margin-top: 150px;
  padding: 2rem 2rem;
  border-radius: 15px;
}

button.link {
	font-size: 2rem;
	text-align: left;
	color: rgb(120, 120, 120);
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}

.content-admin {
  margin: auto;
  width: 85%
}

.nyap-partial {
  display:grid;
  gap: 1.5rem;
  grid-template-columns: 20fr 35fr 5fr;
  padding: 1.5rem;
  margin-bottom: 35px;
  border-radius: 15px;
}

.icons {
  gap: 10px;
  padding-right: 10px;
}

.nyap-actions {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  gap: 45px;
  justify-content: center;
  align-items: center;
  padding: 18px 12px;
  background-color: rgb(60,60,60);
  color: rgba(255,255,255,0.7);
  border-radius: 15px;

}

#newNyapSubmit {
  background: rgba(60, 60, 60, 0);
  border: none;
  color: #f0ffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.75rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

/*new-nyap-popup style*/
.new-nyap-popup .leaflet-popup-content-wrapper {
  background: rgba(60, 60, 60, 0.9);
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  border-radius: 5px;
  padding-top: 4px;
  border: none;
  margin-bottom: 1px;
}

.new-nyap-popup .leaflet-popup-content-wrapper a {
  color: rgba(255, 255, 255, 0.1);
}

.new-nyap-popup .leaflet-popup-tip-container {
  width: 30px;
  height: 15px;
}

.new-nyap-popup .leaflet-popup-tip {
  background: rgba(60, 60, 60, 0.9);
  border: none;
  box-shadow: none;
}

/*** Desktop ***/
@media (min-width: 768px) {
  #map {
    height: 73%;
    width: 85%;
    max-width: 1600px;
    background-color: white;
    margin: auto;
  }

  #header {
    width: 85%;
    max-width: 1600px;
    margin: auto;
    padding-top: 20px;
    display: block;
  }

  #footer {
    width: 85%;
    max-width: 1600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
}
